/* You can add global styles to this file, and also import other style files */
@use 'primeflex/primeflex.css';
@use 'primeflex/themes/primeone-dark.css';
@use "primeicons/primeicons.css";
@use "colors" as theme;

html, body {
  font-family: system-ui;
  background-image: url("assets/bg.svg");
}

.required-label::before {
  color: theme.$red;
  content: "* ";
}

.filled-background {
  background-color: theme.$globalBackground;
}

.p-menu-item-link-active {
  background-color: var(--p-primary-100);
  border-radius: 4px;
}

.dark-mode {
  .inactive {
    background-color: var(--p-slate-400) !important;
  }
}
